<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8"/>
		<title>Telefonbuch</title>
		
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" > 
		
		<style>
			th, td {padding: 1px}
			table  {margin-top: 30px;}
		</style>	
	</head>

	<body ng-controller="appController">
		<div class="container">
			<h2>Telefonbuch </h2> 
			
			<hr />
			<!-- Eintrag hinzufuegen, suchen -->
			<div class="row">
			
				<div class="col-md-6">
					<div class="input-group ">
						<input type="text" class="form-control" ng-model="inputEintrag" ng-enter="newRow()"
							placeholder="Neuer Eintrag  (komma getrennt)">
						<div class="input-group-btn">
							<button class="btn btn-success" ng-click="newRow()" ng-disabled="inputEintrag===''||inputEintrag==null">Hinzufügen</button>
						</div>
					</div>
				
				</div>
				<div class="col-md-1">
				</div>
				<div class="col-md-5">
					<input class="form-control col-md-3" type="text" ng-model="inputSuche" placeholder="Suche" />
				</div>
			</div>
			
			<!-- Eintraege auflisten -->
			<div class="row">
				<div class="col-md-12">
					<table id="dataTableTelefonbuch" width="100%" class="display table-striped">
						<thead>
							<tr>
								<th>Id</th>
								<th>Vorname</th>
								<th>Nachname</th>
								<th>Ort</th>
								<th>Telefon</th>
								<th>Erstelldatum</th>
								<th >Aktion</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="eintrag in eintraege | filter: inputSuche">
								<td>{{eintrag.id}}</td>
								<td>{{eintrag.vorname}}</td>
								<td>{{eintrag.nachname}}</td>
								<td>{{eintrag.ort}}</td>
								<td>{{eintrag.telefon}}</td>
								<td>{{eintrag.erstelldatum}}</td>
								<td ><button type="submit" title="Eintrag editieren" class="btn btn-warning" ng-click="editRow(eintrag)" ><i class="fa fa-pencil-square-o" ></i> </button>
									<button type="submit" title="Eintrag löschen" class="btn btn-danger" ng-click="removeRow(eintrag.id)"><i class="fa fa-trash-o" ></i> </button>
								</td>
							</tr>
						</tbody>
						
					</table>
				</div>
			</div>

		<!-- Modal Dialog zum Editieren eines Eintrags -->
		<script type="text/ng-template" id="editEintrag.html">
			<div class="modal-content " >
			
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" ng-click="cancel()">&times;</button>
					<h4 class="modal-title">Eintrag editieren</h4>
				</div>

				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="vorname" class="control-label">Vorname</label>
								<input type="text" id="vorname" class="form-control" autocomplete="off" 
									ng-model="item.vorname"/>
							</div>
							<div class="form-group">
								<label for="nachname" class="control-label">Nachname</label>
								<input type="text" id="nachname" class="form-control" autocomplete="off" 
									ng-model="item.nachname"/>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label for="ort" class="control-label">Ort</label>
								<input type="text" id="ort" class="form-control" autocomplete="off"
									ng-model="item.ort"/>
							</div>
							<div class="form-group">
								<label for="telefon" class="control-label">Telefon</label>
								<input type="text" id="telefon" class="form-control" autocomplete="off" 
									ng-model="item.telefon"/>
							</div>
						</div>

					</div>
				</div>

				<div class="modal-footer">
					<button class="btn btn-primary" ng-click="ok()">OK</button>
					<button class="btn " ng-click="cancel()">Abbrechen</button>
				</div>
				
			</div>
		</script>

		</div>
		

		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-sanitize.js"></script>
		<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>	   
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.2.0/angular-moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.min.js"></script>
		<script src="controller.js"></script>	
	</body>
</html>